@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>En la Cervecería Boliviana Nacional, la privacidad de nuestros visitantes es de suma importancia para nosotros. Esta política de privacidad describe los tipos de información personal que recibimos y recopilamos cuando visitas nuestro sitio web, así como cómo almacenamos, protegemos y utilizamos esa información.</p>

<h2>Recopilación de Información</h2>

<p>Cuando visitas nuestro sitio web, podemos recopilar cierta información de manera automática, como tu dirección IP, tipo de navegador, páginas visitadas y la hora de acceso. Esto nos ayuda a mejorar la experiencia del usuario y analizar tendencias de tráfico en nuestro sitio.</p>

<p>Además, si eliges proporcionarnos información personal a través de formularios en línea, como nombre, dirección de correo electrónico o número de teléfono, utilizaremos esa información para los fines específicos para los que fue proporcionada, como responder consultas, procesar pedidos o proporcionar servicios.</p>

<h2>Uso de la Información</h2>

<p>La información que recopilamos puede ser utilizada para personalizar tu experiencia en nuestro sitio, mejorar nuestro servicio al cliente, enviar correos electrónicos periódicos relacionados con tus intereses o procesar transacciones.</p>

<h2>Protección de la Información</h2>

<p>Valoramos la confidencialidad y seguridad de tu información personal. Implementamos medidas técnicas y organizativas para proteger tu información contra acceso no autorizado, alteración, divulgación o destrucción.</p>

<h2>Divulgación a Terceros</h2>

<p>No vendemos, intercambiamos ni transferimos tu información personal a terceros externos. Esto no incluye terceros de confianza que nos asisten en operar nuestro sitio web o brindar servicios, siempre y cuando acepten mantener la confidencialidad de la información.</p>

<h2>Cookies</h2>

<p>Nuestro sitio web puede utilizar cookies para mejorar tu experiencia. Estas cookies se utilizan para recordar preferencias, analizar patrones de tráfico y personalizar contenido.</p>

<h2>Consentimiento</h2>

<p>Al utilizar nuestro sitio web, estás aceptando nuestra política de privacidad y términos de servicio. Si no estás de acuerdo con esta política, te pedimos que no utilices nuestro sitio.</p>

<p>Esta política de privacidad se aplica únicamente a la información recopilada a través de nuestro sitio web y no a la información recopilada offline.</p>

<p>Si tienes preguntas o inquietudes sobre nuestra política de privacidad, no dudes en contactarnos.</p>
